---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$background-color: #fdfdfd;
$tertiary-color:   #ffffff;
$secondary-color:  #ffcb05;
$brand-color:      #00274c;
$content-width:    800px;
$gray-blue:        #8888AA;

.site-header {
    background-color: $brand-color;
    color:  $secondary-color;
    border-bottom: 6px solid $secondary-color;
}

.site-title {
    color: $secondary-color;
}

.site-nav {
    color: $secondary-color;
    .page-link {
        color: $secondary-color;
    }
}

.site-footer {
  background-color:  $brand-color;
  border-top: 6px solid $secondary-color;
  a {
    color: $secondary-color;
  }
}

.footer-heading {
  color: $tertiary-color;
}

.footer-col-1 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.contact-list,
.social-media-list,
.link-list {
  padding-top: 5px;
  color: $tertiary-color;
}

.links-list {
  line-height: 300%;
  list-style-type: none;
}

.inlinefig {
  padding:  2px;
  border-style: none; 
  text-align: left;
}

details {
  blockquote {
    color: $gray-blue;
    font-size: 14px;
  }
  color: $brand-color;
}

 /* Dropdown Button */
.dropbtn {
  background-color: $brand-color;
  color: $secondary-color;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-align: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 
