---
# Only the main Sass file needs front matter (the dashes are enough)
---

$text-color:        #023047;
$background-color:  #fefefe;
$head-color:        #eeeeee;
$foot-color:        #dddddd;
$bold-color:        #004499;

$graytext-color:    #5F9EA0;
$brand-color:       #008B8B;
$accent-color:      #2F4F4F;
$highlight-color:   #AADDDD;

$content-width:     1000px;
$on-palm:           800px;
$on-laptop:         1000px;
$base-font-family: ui-serif;

@import "minima";

a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
}

.introtext {
    font-size: 20px;
}
.footnote {
    font-size: 14px;
    color: $graytext-color;
    padding: 0;
}

.vsep {
  height: 6px;
  margin: 0;
  margin-top: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  border-bottom: solid 2px;
  border-color: $brand-color;
}

.vspace {
  height: 6px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0;
}

.site-header {
    background-color: $head-color;
    color:  $brand-color;
    border-bottom: 2px solid $brand-color;
}

.site-title {
    color: $brand-color;
    font-weight: 600;
}

.site-nav {
    color: $brand-color;
    .page-link {
        color: $brand-color;
    }
}

.site-footer {
  background-color:  $foot-color;
  border-top: 2px solid $brand-color;
  a {
    color: $brand-color;
  }
}

.footer-heading {
  color: $accent-color;
  font-weight: 600;
}

.footer-col-1 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.contact-list {
  padding-top: 5px;
  color: $accent-color;
}

.social-media-list,
.link-list {
  padding-top: 5px;
  color: $brand-color;
}

.links-list {
  line-height: 300%;
  list-style-type: none;
}

.multicolumn {
  display: flex;
  padding:  2px;
  border: solid 1px;
  border-style: none; 
  text-align: left;
}

.multicolumn:after {
  display: block; 
  content: "";
  clear: both;
  text-align: center;
}

.column {
  flex: 0 1 auto;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  vertical-align: middle;
  min-width: 200px;
}

details {
  blockquote {
    color: $graytext-color;
    font-size: 14px;
  }
  color: $accent-color;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $background-color;
  list-style-type: none;
  margin: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 14px;
  min-width: 350px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: $brand-color;
  padding: 2px;
  text-decoration: none;
  display: block;
  text-align: start;
  margin: 6px;
}

.dropdown-link {
  position: relative;
  border-bottom: 1px solid gray;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: $highlight-color;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: $highlight-color;} 

ul.education {
  list-style-image: url('/assets/education.svg');
  padding: 5px;
}

ul.education > li {
  padding: 5px;
}

ul.interests {
  padding: 5px;
}

figure {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 40px;
  margin-right: 40px;
}

.footnotes {
  padding: 1em 0 0 0;
  border-top-style: double;
  border-width: 1px;
  border-color: $graytext-color;
  max-width: 500px;
}

.footnotes > ol {
  padding: 0 0 0 0;
  font-size: 12px;
  margin: 0 0 0 2em;
}

strong {
  color: $bold-color;
}

